[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-admin = "*"
sqlalchemy = "*"
psycopg2 = "*"
databases = {extras = ["postgresql"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
